$headHeight: 60px;
.root {
	padding: 5px 0;
	height: $headHeight;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	flex-shrink: 0;
	.button {
		height: auto;
		border: none;
		margin: 0 10px;
	}
}
